body {overflow-y: visible;overflow-x:hidden!important;}
.section {height:795px!important;}

a, a:active, a:hover, a:focus {outline:none!important;}

#purplebutton, #orangebutton {opacity:1;}

#sec8_img1 {z-index:1000;}

#sec9_img2 {max-height:300px;}

.navbar-right, .navbar-brand {display:none;}

.section-one {   background: url('../img/slide1bg-nostart.png') 15px top no-repeat; background-position:15px top; background-position-x:15px; background-position-y:0px; }

.section-two {   background: url('../img/slide2bg-nostar.png') 15px top no-repeat;}

.section-three {   background: url('../img/slide3-bg.png') 15px top no-repeat; }

.section-four {   background: url('../img/slide4-bg-stars.png') 13px top no-repeat; }

.section-five {background: url('../img/slide5-stars.png') 15px top no-repeat; }

.section-six {   background: url('../img/slide6-stars.png') 15px top no-repeat; }

.section-seven {   background: url('../img/slide7-stars.png') 15px top no-repeat; }

.section-eight {   background: url('../img/slide8-stars.png') 15px top no-repeat; }

.section-nine {   background: url('../img/slide9.png') 15px -1px no-repeat; }

#startbutton {  position: absolute;
  left: 205px;
  top: 110px;}

.navbar {min-height:0px!important;}





.normal {
height: 20px;
-webkit-transition: 0.5s;
-moz-transition: 0.5s;
-ms-transition: 0.5s;
transition: 0.5s;
}
.normal .navbar-right {
-webkit-transition: 0.5s;
-moz-transition: 0.5s;
-ms-transition: 0.5s;
transition: 0.5s;
}
.navbar-brand img {
max-height: 75px;
-webkit-transition: 0.5s;
-moz-transition: 0.5s;
-ms-transition: 0.5s;
transition: 0.5s;
}


.shrink {
height: 75px;
-webkit-transition: 0.5s;
-moz-transition: 0.5s;
-ms-transition: 0.5s;
transition: 0.5s;
}
.shrink .navbar-right {
-webkit-transition: 0.5s;
-moz-transition: 0.5s;
-ms-transition: 0.5s;
transition: 0.5s;
}
.shrink .navbar-brand img {
max-height: 75px;
-webkit-transition: 1.5s;
-moz-transition: 1.5s;
-ms-transition: 1.5s;
transition: 1.5s;
}

.unshrunk {opacity:0;
  transition:opacity 0.5s linear;}
  
  .btn-default.active, .btn-default.focus, .btn-default:active, .btn-default:focus, .btn-default:hover, .open>.dropdown-toggle.btn-default {background:none!important;box-shadow:none!important; -webkit-box-shadow:none!important;}
  
  .btn-md {-webkit-transition: 0.2s ease-in-out;
-moz-transition: 0.2s ease-in-out;
-ms-transition: 0.2s ease-in-out;
transition: 0.2s ease-in-out; }
  
  .btn-md:hover, .btn-md:active, .btn-md:focus {color: #fff!important;background:#f06f23!important;
  border-color: #f06f23!important;-webkit-transition: 0.2s ease-in-out;
-moz-transition: 0.2s ease-in-out;
-ms-transition: 0.2s ease-in-out;
transition: 0.2s ease-in-out;}

.section-one .btn-md:hover, .section-one .btn-md:active, .section-one .btn-md:focus {
	
	color: #fff!important;background:#455191!important;
  border-color: #455191!important;-webkit-transition: 0.2s ease-in-out;
-moz-transition: 0.2s ease-in-out;
-ms-transition: 0.2s ease-in-out;
transition: 0.2s ease-in-out;}



@media (min-width:1001px) and (max-width:1199px) {
	.section-three .path-left {position:absolute;}
}


@media (max-width: 767px) {
	
	
	.topnav {
  height: 75px!important;
}
	
	.navbar-brand {opacity:1!important;display:block!important;}
	.navbar-brand img {width:150px!important;}
	
	.section, .fp-section.active {height:auto!important; display:block!important; max-height:none!important;}
	
html {max-height:none!important;}
		
body {height:600%;}

   .navbar {height:75px!important;}
   .navbar-brand, .navbar-right {opacity:1!important;}
   
.section-one img, .section-two img, .section-three img, .section-four img, .section-five img, .section-six img, .section-seven img, .section-eight img, .section-nine img  {
  position: relative;

  left: 0;
  top: 0;
  width: 80%!important;
  max-width: 350px!important;
  display: inline-block;
}

.path-left img, .path-right img {width:80%;max-width:350px;}

#utlogo {margin-top:200px;}

#intropieces {margin-top:20px;}

.section-one .path-left img {position:relative;left:0;top:0;display:inline-block;}

#startbutton {
  position: absolute;
  left: 0;
  top: 0;
}
  
#startbutton img {  width: auto!important;
  max-width: 135px!important;}

.path-left, .path-right {text-align:center;margin-top:0!important;}



.section-one .path-right h1 {
  padding: 6%; }
 
 .mobilepiece {margin-top:20px;margin-bottom:50px;}
  
  .linklist {text-align:left;}
  
  .content p, .content a {padding-left:6%;padding-right:6%;text-align:left;display:inline-block}
  

  
  .content > nav a:after {height:15px!important;width:15px!important;}
  
  .page.container {padding:0!important;}
  
  .footer-left, .footer-right {text-align:center;}
  
  
  
  #fp-nav ul li .fp-tooltip.right {display:none!important;}
  
  #fp-nav {display:block!important;text-align:center;
  top: 90px!important;
  padding-top:10px;
  padding-bottom:10px;
  width: 100%;
  /* Fallback for web browsers that doesn't support RGBa */

background: rgb(255, 255, 255);

/* RGBa with 0.6 opacity */

background: rgba(255, 255, 255, 0.9);

/* For IE 5.5 - 7*/

filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF, endColorstr=#00FFFFFF);

/* For IE 8*/

-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF, endColorstr=#00FFFFFF)";
  right: 0;
  left: 0;
}

#fp-nav ul li, .fp-slidesNav ul li {display:inline-block!important;}
  
  .content > nav {  top: 100px!important;
  display: inline;
  width: 100%;
  text-align: center; right:0;
 /* Fallback for web browsers that doesn't support RGBa */

background: rgb(255, 255, 255);

/* RGBa with 0.6 opacity */

background: rgba(255, 255, 255, 0.9);

/* For IE 5.5 - 7*/

filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF, endColorstr=#00FFFFFF);

/* For IE 8*/

-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF, endColorstr=#00FFFFFF)";
  height: 60px;
  padding-top: 24px;}
  
  .content > nav a {
  display: inline-block;
  height: 30px!important;
   padding-left: 5%;
  padding-right: 5%;
}

body {max-height:none!important;}

.page {  background: url('../img/mobilebg.png');
    background-position: 100px 75px;
  background-repeat: no-repeat;
  background-size: 112%;
  height: 160%;
  max-height: none!important;

}

.section-one, .section-two, .section-three, .section-four, .section-five, .section-six, .section-seven, .section-eight, .section-nine {background:none;padding-left:3%;padding-right:3%;}

span.buttons {padding-left:6%;padding-right:6%;display:block;}

span.buttons a{  margin-bottom: 20px;}

section table img {width:35px;height:auto;}

.section-two .first-sub, .section-two .second-sub {margin-top:0px;}

.path-right {margin-top:35px!important;}

section {background:none!important;}

.row {margin:0!important;padding-left:5%;padding-right:5%}

h2, h3 {text-align:left;}

.linklist {
  text-align: left;
  margin-left: 10%;
}

.linklist img {
  width: 35px!important;
}

img.number {width:40px!important;}

.col-xs-12 {padding-left:0!important;padding-right:0!important;}

.footer {  padding-top: 50px;
  margin-top: 200px;}
  
  .section-one .path-right {
  margin-top: 75px!important;
}

	
	.section, .fp-section.active {height:auto!important; display:block!important; max-height:none!important;}


.mobilepiece {opacity:1!important;}

.fp-section {position:inherit!important;}

}



@media (max-width:767px) and (min-width:650px) {
.page {
   background: url('../img/mobilebg.png');
    background-position: 130px -150px!important;
  background-repeat: no-repeat;
  background-size: 95%;
  height: 100%;
  max-height: none!important;
}
}

@media (max-width:649px) and (min-width:607px) {
.page {
  background: url('../img/mobilebg.png');
  	  background-position: 100px -60px;

  background-repeat: no-repeat;
  background-size: 95%;
  height: 100%;
  max-height: none!important;
}	
}
	

@media (max-width: 606px) and (min-width:478px) {
	
	#startbutton {left:10%;top:10%;}
	
.page {
  background: url('../img/mobilebg.png');
  background-position: 130px -20px!important;
  background-repeat: no-repeat;
  background-size: 95%;
  height: 100%;
  max-height: none!important;
}
}


