/*!
 * Start Bootstrap - Landing Page Bootstrap Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

body,
html {
	width: 100%;
	height: 100%;
	background:url('../img/bg.jpg') repeat;
	background-attachment: fixed;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

a {
	color: #1a5294;
}

p {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.8em;
	margin: 30px 0;
}

h2 {
	color: #f06f23;
	margin: 0 0 0 15px;
}

h3 {
	color: #f06f23;
}

.fa-chevron-down {
	padding-right: 5px;
}
.fa-chevron-up,
.fa-angle-double-up {
	padding-left: 5px;
}

.topnav {
    font-size: 14px; 
	height:75px;
}

.navbar-brand {padding-top:9px!important;}

.navbar-brand>img {width:200px;}

.lead {
    font-size: 18px;
    font-weight: 400;
}

.introheader {
    padding-top: 10%; 
    padding-bottom: 10%;
    text-align: center;
    color: #f8f8f8;
    background: url(../img/xxx.jpg) no-repeat center center;
    background-size: cover;
}

.intro-message {
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
}

.intro-message > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 5em;
}

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.intro-message > h3 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

.navbar-default {
	z-index: 10000;
	
	border-bottom:1px solid black;
	
	-webkit-box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.3);
-moz-box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.3);
box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.3);
	
  background: #505c99; /* Old browsers */

background: -moz-linear-gradient(top,  #505c99 0%, #57639f 100%); /* FF3.6+ */

background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#505c99), color-stop(100%,#57639f)); /* Chrome,Safari4+ */

background: -webkit-linear-gradient(top,  #505c99 0%,#57639f 100%); /* Chrome10+,Safari5.1+ */

background: -o-linear-gradient(top,  #505c99 0%,#57639f 100%); /* Opera 11.10+ */

background: -ms-linear-gradient(top,  #505c99 0%,#57639f 100%); /* IE10+ */

background: linear-gradient(to bottom,  #505c99 0%,#57639f 100%); /* W3C */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#505c99', endColorstr='#57639f',GradientType=0 ); /* IE6-9 */


}

.navbar-default .navbar-nav>li>a {
  color: #fff;
  border: 1px solid #fff;
  background:none!important;
  font-size: 14px;
  border-radius: 50px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 8px;
  padding-bottom: 8px;
    -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.navbar-default .navbar-nav>li>a:hover {
	color: #505c99;background:#fff;border:1px solid #505c99;  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;}
	
	
	
	.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {color: #505c99;background:#fff!important;border:1px solid #505c99;  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  font-size: 14px;
  border-radius: 50px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 8px;
  padding-bottom: 8px;}

ul.navbar-right {padding-top:13px;}

ul.navbar-right li {margin:5px;}



@media(max-width:767px) {
    .intro-message {
        padding-bottom: 15%;
    }

    .intro-message > h1 {
        font-size: 3em;
    }

    ul.intro-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.intro-social-buttons > li:last-child {
        margin-bottom: 0;
    }

    .intro-divider {
        width: 100%;
    }
}

.network-name {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
}

.content-section-a {
    padding: 50px 0;
    background-color: #f8f8f8;
}

.content-section-b {
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.section-heading {
    margin-bottom: 30px;
}

.section-heading-spacer {
    float: left;
    width: 200px;
    border-top: 3px solid #e7e7e7;
}

.banner {
    padding: 100px 0;
    color: #f8f8f8;
    background: url(../img/banner-bg.jpg) no-repeat center center;
    background-size: cover;
}

.banner h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 3em;
}

.banner ul {
    margin-bottom: 0;
}

.banner-social-buttons {
    float: right;
    margin-top: 0;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        float: left;
        margin-top: 15px;
    }
		.content > nav {
			right: 3%;
		}
}

@media(max-width:767px) {
    .banner h2 {
        margin: 0;
        text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
        font-size: 3em;
    }

    ul.banner-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons > li:last-child {
        margin-bottom: 0;
    }
}

footer {
    padding: 50px 0;
    background-color: #f8f8f8;
}

p.copyright {
    margin: 15px 0 0;
}


.navbar-default .navbar-toggle {
  margin-top: 20px!important;
  margin-right: 50px;
}

html,
body,
.content,
section {
  margin: 0;
  padding: 0;
}

.content > nav {
  position: fixed;
  z-index: 9999;
  right: 8%;
  top: 30%!important;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
@media(max-width:1199px) {
		.content > nav {
			right: 40px;
		}
}


.content > nav a {
  display: block;
  position: relative;
  height: 30px!important;

}

.content > nav a:after {
  content: '';
  position: absolute;
  width: 12px!important;
  height: 12px!important;
  border-radius: 50%;
  background-color: #fff;
  border:1px solid #f06f23;
}

.content > nav a:hover:after { background: #fff; }

.content > nav a.current:after { background: #f06f23; }

@media (min-width:767px) {

html, body, .container, .content, section {
  height: 101%;
  margin: auto!important;
 /* max-height:795px; */
}
}


@media (min-width: 1500px) {
	.container {width:1470px;}
}

@media (max-width:767px) {
	.navbar-brand {margin-left:20px;}
	.navbar-collapse {background: #808fc9;}
	ul.navbar-right {
  padding-bottom: 20px;
}
.navbar-default .navbar-nav>li>a {width:80%;display:inline-block;}
.navbar-default {text-align:center;}
}

.navbar-right {margin-right:0px;}

.navbar-default .navbar-toggle .icon-bar {background-color:#fff;}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {background:none!important;}

.btn-md {
	margin-right: 15px;
	margin-bottom: 10px;
  border-radius: 30px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 12px;
  font-weight: 700;
  color: #f06f23;
  border-color: #f06f23;
}

.linklist img {
	padding: 5px 15px 5px 0;
}

.linklist {
	margin-bottom: 30px;
}

.rcol {
	width: 100%;
}

.footer {
  background-color: #012245;
  color: #fff;
  width: 100%;
  height: 200px;
  padding-top:75px;
}

.footer-right {
  text-align: right;
  color: #cfd4da;
  font-size: 10.5px;
  line-height: 18px;
  padding-top: 11px;
}


#startbutton img {
	position: absolute;
	left: 70px;
	top: 345px;
}
#sec1_img1 {
	position: absolute;
  left: 70px;
  top: 344px;
}
#sec1_img2 {
	position: absolute;
	left: 30px;
	top: 480px;
}


.section-one .path-right h1 {
	padding-top: 187px;
	line-height: 1.3em;
}

.section-one h1 {
	font-size: 20px;
	font-weight: bold;
	color: #455191;
}

.section-one .btn-md {
  color: #455191;
  border-color: #455191;
}

.section-two .path-right img.FGimg {
  position: absolute;
  left: 193px;
  top: 285px;
}

.section-two .path-left {
    margin-top: 100px;
}

.section-two .first-sub {
	margin-top: 150px;
}

.section-two .second-sub {
    margin-top: 315px;
}


#sec3_img1 {
	position: absolute;
  left: 195px;
  top: 274px;
}
#sec3_img2 {
	position: absolute;
	left: 10px;
	top: 450px;
}


.section-three .path-right {
  margin-top: 250px;
  float: right;
}


#sec4_img1 {
	position: absolute;
  left: 209px;
  top: 341px;
}
#sec4_img2 {
	position: absolute;
	left: 232px;
	top: 480px;
}


.section-four .path-left {
	margin-top: 250px;
}


#sec5_img1 {
	position: absolute;
  left: 310px;
  top: 381px;
}
#sec5_img2 {
	position: absolute;
	left: 87px;
	top: 310px;
}


.section-five .path-right {
	margin-top: 140px;
	padding-left:5%;
}


#sec6_img1 {
	position: absolute;
  left: 174px;
  top: 303px;
}
#sec6_img2 {
	position: absolute;
	left: 197px;
	top: 210px;
}


.section-six .path-left {
	margin-top: 250px;
}


#sec7_img1 {
	position: absolute;
  left: 260px;
  top: 255px;
}
#sec7_img2 {
	position: absolute;
	left: 247px;
	top: 423px;
}


.section-seven .first-sub {
  margin-top: 160px;
  margin-left: 50px;
}

.section-seven .path-right {
  margin-top: 160px;
  padding-left: 70px;
}


#sec8_img1 {
	position: absolute;
  left: 174px;
  top: 211px;
}
#sec8_img2 {
	position: absolute;
	left: 247px;
	top: 193px;
}


.section-eight .path-left {
  margin-top: 165px;
}


#sec9_img1 {
	position: absolute;
  left: 206px;
  top: 147px;
}
#sec9_img2 {
	position: absolute;
	left: 147px;
	top: -87px;
}


.section-nine .path-right {
	margin-top: 0px;
}

@media (min-width: 768px) and (max-width: 1000px) {
	.path-right {
		padding-left: 13%;
		padding-right: 7%;
	}
	.section-two .path-left {
		margin-top: 75px;
	}
	.section-three .path-right {
		margin-top: 170px;
	}
	.section-three .path-left {
		position: absolute;
	}
	.section-five .path-right {
		margin-top: 70px;
	}
	.section-seven .path-right {
		margin-top: 0px;
	}
}
@media (min-width: 768px) and (max-width: 1199px) {
	.section-three .path-left img {
		top: 305px;
	}
}

.page.container {
	width:100%!important;
	padding:0!important;
}

section {
	max-width:1000px;
	padding-left: 15px;
	padding-right: 15px;
}


@media (max-width:480px) {
	
	section {height:auto!important;}
}

@media (min-width:1201px) {
	.section-two .path-left {
    margin-top: 230px;
}
}